html
    head
        meta(charset="UTF-8")
        script(type="text/javascript", src="assets/scripts/phaser.min.js")
        style(type="text/css")
            | body {margin: 0;}

    body
        script(type="text/javascript", src="assets/scripts/game.js")
